.patient {
  background-color: #f5f5f5;;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 5px;
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  padding: 15px;
  margin-bottom: 10px;
  transition: background-color 0.2s ease-in-out;
}

.patient:hover {
  /* Darken the background color slightly on hover */
  background-color: #eaeaea;
}

.inTreatment {
  background-color: #f5e3e3;
}

.turnnumber,
.nameInput {
  font-size: 28px;
  margin: 8px
}

.waitingTimeInput,
.treatmentTimeElapsedInput,
.treatmentDurationInput,
.treatmentTimeElapsedLabel,
.treatmentDurationLabel
.waitingTimeLabel {
  font-size: 18px;
  margin: 8px;
}

.inline-container {
  display: flex;
  align-items: center;
  /* Vertical alignment */
  justify-content: flex-start;
  gap: 10px;
  /* Optional: adds space between elements */
}

.inline-container .btn {
  margin-left: 10px;
  /* Optional: adds space between buttons */
}

.info-container {
  display: flex;
  width: 45%;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-container {
  display: flex;
  width: 45%;
  height: 300px;
  flex-direction: column;
  flex: 1;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.chat-window {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  border-bottom: 1px solid #ccc;
  background-color: #f9f9f9;
}

.message-container {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.message {
  max-width: 70%;
  padding: 10px;
  border-radius: 8px;
}

.message-container.left {
  justify-content: flex-start;
}

.message-container.left .message {
  background-color: #202c33;
  /* Example background color */
  color: white;
}

.message-container.right {
  justify-content: flex-end;
}

.message-container.right .message {
  background-color: #005c4b;
  /* Example background color */
  color: white;
  text-align: right;
}

.chat-input-area {
  display: flex;
  padding: 10px;
  background-color: #fff;
}

.chat-input-area input[type="text"] {
  flex: 1;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
}

.chat-input-area button {
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}

.chat-input-area button:hover {
  background-color: #0056b3;
}

.sidebar {
  background-color: #333;
  color: #fff;
  padding: 1rem;
  width: 250px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
}

.sidebar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar li {
  padding: 1rem;
  border-bottom: 1px solid #444;
}

.sidebar li:hover {
  background-color: #444;
}

.sidebar a {
  color: #fff;
  text-decoration: none;
}

.main-content {
  margin-left: 250px;
  padding: 2rem;
}

.logo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 2rem;
}

#sendButton {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  cursor: pointer;
  margin-top: 1rem;
  width: 200px;
}