html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

#map {
  height: 768px;
  width: 1024px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
}
.inputContainer label, .inputContainer input {
  margin-bottom: 10px;
}
.inputContainer input {
  width: 200px; 
}