@model AdminViewModel
@{
    ViewData["Title"] = "Admin";
}
@if (Model.IsAdmin)
{
    <link rel="stylesheet" href="~/css/admin.css" asp-append-version="true" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <div class="sidebar">
        <img src="~/assets/logo.png" alt="Logo" class="logo">
        <ul>
            <!-- <li><a href="#">Dashboard</a></li> und das hier? -->
            <li><a href="https://github.com/kroegerba/eWartezimmer/wiki/Admin">Info</a></li>
            <li><input type="button" id="sendButton" value="Praxis anlegen" /></li>
        </ul>
    </div>
    <div class="main-content">
        <div id="container"></div>
    </div>
    
    <script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
    <script src="~/js/admin.js"></script>
}