@{
    ViewData["Title"] = "Office";
}
<link rel="stylesheet" href="~/css/office.css" asp-append-version="true" />
<div id="container"></div>
<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/office.js"></script>