@model PatientViewModel
@{
    ViewData["Title"] = "Patient";
}
<link rel="stylesheet" href="~/css/patient.css" asp-append-version="true" />
<link rel="stylesheet" href="~/css/leaflet.css" asp-append-version="true" />
<input type="hidden" id="guid" value="@Model?.Patient?.Guid" />
<div id="separator">
    <div id="top-panel">
    <div id="map"></div>
    
</div>
<div id="bottom-panel">
    <button id="showLocationButton">Zentriere auf meinen Standort</button>
    <div id="greeting"></div>
    <div id="countdown"></div>    
    <div class="row p-1">
    </div>
    <div class="row p-1">
        <div class="col-1">Message</div>
        <div class="col-5"><input type="text" class="w-100" id="messageInput" /></div>
    </div>
    <div class="row p-1">
        <div class="col-6 text-end">
            <input type="button" id="sendButton" value="Send Message" />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <hr />
        </div>
    </div>
    <div class="row p-1">
        <div class="col-6">
            <ul id="messagesList"></ul>
        </div>
    </div>
</div>
</div>

<script src="~/lib/leaflet/leaflet.js" asp-append-version="true"></script>
<script src="~/js/signalr/dist/browser/signalr.js" asp-append-version="true"></script>
<script src="~/js/patient.js" asp-append-version="true"></script>
